/* Stats.css */
.dashboard-layout {
    display: flex;
    background-color: #ffffff;
  }
  
  .dashboard-container {
    padding: 20px 20px 20px 220px; 
    flex-grow: 1;
    margin-left: 80px;
    margin-top: 60px; 
  }
  .dashboard-container1 {
   background-color: #ffffff;
    padding: 20px 20px 20px 220px; 
    flex-grow: 1;
    margin-left: 20px; 
    margin-top: 20px; 
  }
  
  .card-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap; 
  }
  
  .card {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #d2691e;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    min-width: 250px;
  }
  
  .card h3 {
    margin-bottom: 10px;
    color: #fff;
    font-size: 1.2em;
  }
  
  .card p {
    font-size: 1.5em;
    margin: 0;
    color: #fff;
  }
  
  .charts-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .chart {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(210, 23, 23, 0.1);
    border-radius: 8px;
    min-width: 250px; /* Ensure charts don't get too small on narrow screens */
    color: #d2691e;
  }